*.o
*.a
*.rt
*.ko
*.sym

bsp/boot/bootldr
bsp/boot/x86/tools/bootsect/bootsect.bin
conf/captab.h
conf/config.h
conf/config.ld
conf/config.mk
conf/drvtab.h
fd.img
hd.raw
image.iso
prexos
sys/prex
usr/bin/cmdbox/cmdbox
usr/sample/hello/hello
usr/sample/tetris/tetris
usr/sbin/debug/debug
usr/sbin/diskutil/diskutil
usr/sbin/init/init
usr/sbin/install/install
usr/sbin/ktrace/ktrace
usr/sbin/lock/lock
usr/sbin/pmctrl/pmctrl
usr/server/boot/boot
usr/server/exec/exec
usr/server/fs/fs
usr/server/pow/pow
usr/server/proc/proc
usr/test/args/args
usr/test/attack/attack
usr/test/conf/conf
usr/test/creat/creat
usr/test/dup/dup
usr/test/environ/environ
usr/test/fifo/fifo
usr/test/fileio/fileio
usr/test/fork/fork
usr/test/forkbomb/forkbomb
usr/test/memleak/memleak
usr/test/mount/mount
usr/test/object/object
usr/test/pipe/pipe
usr/test/shutdown/shutdown
usr/test/signal/signal
usr/test/stack/stack
usr/test/stderr/stderr
usr/test/umount/umount
